<%- include('../partials-ejs/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../partials-ejs/navbar.ejs') %>
    <main>
        <h1>Home Page</h1>
        <% if (prods.length != 0) { %>
            <div class="grid">
                <% prods.forEach(prdt => { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= prdt.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= prdt.imageURL %>" alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$ <%= prdt.price %></h2>
                            <p class="product__description"><%= prdt.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= prdt.id %>" class="btn">Details</a>
                            <form action="/cart" method="post">
                                <button class="btn">Add to Cart</button>
                            </form>
                        </div>
                    </article>
                <% }) %>
            </div>
        <% } else { %>
            <p>No Products</p>
        <% } %>
    </main>
    <script src="/js/main.js"></script>

</body>

</html>